<html>


<head>
	<title>Jean-Michel Basquiat</title>
	​
	<!-- import the webpage's stylesheet -->
	<link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
	​
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	​
	<!-- Compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>

	<link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
</head>


<body>
	<div>
		<h1>The Works of Jean Michel-Basquiat</h1>
	</div>

	<div class="col-sm">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://d32dm0rphc51dk.cloudfront.net/z5ObpUSH1zG5GAWt_Qq5jw/large.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h2>Untitled (1982) </h2>
							<h5> Located:The Estate of Jean-Michel Basquiat</h5>
							<p class="card-text">Boldy appropriating images commonly associated with African art - a
								skull, a bone, an arrow - Basquiat modernizes them with his Neo-Expressionist style of
								thickly applied paint, rapidly rendered subjects, and scrawled linear characters, all of
								which float loosely across the pictorial field, as though
								Hallucinatory.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://news.artnet.com/app/news-upload/2020/06/image9-4-728x565.jpg" alt="Card image cap">
						<div class="card-body">
							<h2>SAMO Graffiti (1980) </h2>
							<h5> Located:Graffiti </h5>
							<p class="card-text">Al Diaz and Basquiat chose to sever their artistic collaboration, SAMO,
								with this three-word announcement. Carried out episodically at various sites as a piece
								of ephemeral graffiti art, the phrase surfaced repeatedly on gritty buildings throughout
								Lower Manhattan. At one time a sign of trespassing and vandalism, graffiti in the hands
								of Diaz and Basquiat became a tool of artistic "branding"; repeated here and there
								throughout the billboard-dotted city, "SAMO is Dead" slowly took on the status of a
								corporate mantra, such as, for instance, Coca Cola's "It's the Real Thing".
							</p>
						</div>
					</div>
				</div>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://p8.storage.canalblog.com/81/80/119589/120093177.jpg" alt="Card image cap">
					<div class="card-body">
						<h2>Flexible (1982)</h2>
						<h5> Located:The Estate of Jean-Michel Basquiat</h5>
						<p class="card-text">Flexible features two of Basquiat's most famous motifs: the griot and the
							venerable crown. A sole black figure, half cadaver, half living entity, stares "blindly" at
							the viewer, its arms creating a closed circuit, perhaps a reference to spiritualized energy.
							With few distinguishing characteristics, the subject takes on the visage of the Everyman. At
							the same time, this is not just any figure, but one of African ethnicity and proud heritage
							a clear reference to Basquiat's own identity
						</p>
					</div>
				</div>
			</div>
			​
</body>
<div class="col-sm">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://www.sleek-mag.com/wp-content/uploads/2016/12/studyblue.com_.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h2>Untitled- History of the Black People (1983) </h2>
						<h5> Located:The Estate of Jean-Michel Basquiat</h5>
						<p class="card-text">As though he were reconstructing an epic history, or precedent, for his own
							ancestors' arrival on the American continent, this expansive work of the early 1980s
							compresses together the relationship of Egypt to Africa, with references to more local
							centers of African-American music and greater southern culture, such as Memphis, Tennessee.
							At the center of the painting, Basquiat depicts a yellow Egyptian boat being guided down the
							Nile River by the god Osiris. Rife with visual and textual references to African history,
							the painting tackles a heady subject with a deceptively naïve style. Basquiat's late-period
							works feature multi-panel paintings, in the tradition of Renaissance religious triptychs,
							and canvases with exposed stretcher bars. 
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://phasisgallery.com/wp-content/uploads/2018/04/basquiat-boomforreal15.jpg" alt="Card image cap">
					<div class="card-body">
						<h2>Arm and Hammer II (1985) </h2>
						<h5> Located: Gallery Bruno Bischofberger AG </h5>
						<p class="card-text">
							Typical of their collaboration, "Arm and Hammer II" demonstrates how Basquiat and Warhol
							would pass a work between them for their mutual intervention, like a game of chance
							happening, free association, and mutual inspiration. Warhol's characteristic employment of
							corporate logos and advertising copy as shorthand signs for the materialistic modern psyche
							is frequently overlaid by Basquiat's only partially successful attempt to deface them, or
							otherwise "humanize" them, freehand, as though he were vainly railing his fist at a largely
							invisible and insidious monster

						</p>
					</div>
				</div>
			</div>
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="https://blondeambition4.files.wordpress.com/2014/11/10-punching-bags.jpg?w=440" alt="Card image cap">
				<div class="card-body">
					<h2>Ten Punching Bags/Last Supper (1986-1987)</h2>
					<h5> Located:The Andy Warhol Museum</h5>
					<p class="card-text">Flexible features two of Basquiat's most famous motifs: the griot and the
						venerable crown. A sole black figure, half cadaver, half living entity, stares "blindly" at
						the viewer, its arms creating a closed circuit, perhaps a reference to spiritualized energy.
						With few distinguishing characteristics, the subject takes on the visage of the Everyman. At
						the same time, this is not just any figure, but one of African ethnicity and proud heritage
						a clear reference to Basquiat's own identity
					</p>
				</div>
			</div>
		</div>
		​
		​