<html>


<head>
	<title>Jean-Michel Basquiat</title>


	​
	<!-- import the webpage's stylesheet -->
	<link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
	​

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	​
	<!-- Compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>

</head>


<body>
	<h1>The Works of Jean Michel-Basquiat</h1>

	</div>
	<div class="col-sm">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://d32dm0rphc51dk.cloudfront.net/z5ObpUSH1zG5GAWt_Qq5jw/large.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h1>Untitled 1982 </h1>
							<h5> Located:The Estate of Jean-Michel Basquiat</h5>
							<p class="card-text">Boldy appropriating images commonly associated with African art - a
								skull, a bone, an arrow - Basquiat modernizes them with his Neo-Expressionist style of
								thickly applied paint, rapidly rendered subjects, and scrawled linear characters, all of
								which float loosely across the pictorial field, as though
								Hallucinatory.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://news.artnet.com/app/news-upload/2020/06/image9-4-728x565.jpg" alt="Card image cap">
						<div class="card-body">
							<h1>SAMO Graffiti </h1>
							<h5> Located:Graffiti </h5>
							<p class="card-text">Al Diaz and Basquiat chose to sever their artistic collaboration, SAMO,
								with this three-word announcement. Carried out episodically at various sites as a piece
								of ephemeral graffiti art, the phrase surfaced repeatedly on gritty buildings throughout
								Lower Manhattan. At one time a sign of trespassing and vandalism, graffiti in the hands
								of Diaz and Basquiat became a tool of artistic "branding"; repeated here and there
								throughout the billboard-dotted city, "SAMO is Dead" slowly took on the status of a
								corporate mantra, such as, for instance, Coca Cola's "It's the Real Thing".
							</p>
						</div>
					</div>
				</div>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://p8.storage.canalblog.com/81/80/119589/120093177.jpg" alt="Card image cap">
					<div class="card-body">
						<h1>Flexible 1982</h1>
						<h5> Located:The Estate of Jean-Michel Basquiat</h5>
						<p class="card-text">Flexible features two of Basquiat's most famous motifs: the griot and the
							venerable crown. A sole black figure, half cadaver, half living entity, stares "blindly" at
							the viewer, its arms creating a closed circuit, perhaps a reference to spiritualized energy.
							With few distinguishing characteristics, the subject takes on the visage of the Everyman. At
							the same time, this is not just any figure, but one of African ethnicity and proud heritage
							a clear reference to Basquiat's own identity
						</p>
					</div>
				</div>
			</div>
			​
</body>
​