<html>


<head>
	<title>Jean-Michel Basquiat</title>
	​
	<!-- import the webpage's stylesheet -->
	<link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
	​
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	​
</head>


<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Artists
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/basquiat">Jean-Michel Basquiat</a>
						<a class="dropdown-item" href="/close">Chuck Close</a>
						<a class="dropdown-item" href="/kahlo">Frida Kahlo</a>
						<a class="dropdown-item" href="/monet">Claude Monet</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Mediums
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/architecture">Architecture</a>
						<a class="dropdown-item" href="/sculptures">Sculpture</a>
						<a class="dropdown-item" href="/print">Print</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sources">Sources</a>
				</li>
			</ul>
		</div>
	</nav>

	<h1>The Works of Jean Michel-Basquiat</h1>

	<div class="col-sm">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://d32dm0rphc51dk.cloudfront.net/z5ObpUSH1zG5GAWt_Qq5jw/large.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h2>Untitled (1982) </h2>
							<h5> Located:The Estate of Jean-Michel Basquiat</h5>
							<p class="card-text">Boldy appropriating images commonly associated with African art - a
								skull, a bone, an arrow - Basquiat modernizes them with his Neo-Expressionist style of
								thickly applied paint, rapidly rendered subjects, and scrawled linear characters, all of
								which float loosely across the pictorial field, as though
								Hallucinatory.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://news.artnet.com/app/news-upload/2020/06/image9-4-728x565.jpg" alt="Card image cap">
						<div class="card-body">
							<h2>SAMO Graffiti (1980) </h2>
							<h5> Located:Graffiti </h5>
							<p class="card-text">Al Diaz and Basquiat chose to sever their artistic collaboration, SAMO,
								with this three-word announcement. Carried out episodically at various sites as a piece
								of ephemeral graffiti art, the phrase surfaced repeatedly on gritty buildings throughout
								Lower Manhattan. At one time a sign of trespassing and vandalism, graffiti in the hands
								of Diaz and Basquiat became a tool of artistic "branding"; repeated here and there
								throughout the billboard-dotted city, "SAMO is Dead" slowly took on the status of a
								corporate mantra, such as, for instance, Coca Cola's "It's the Real Thing".
							</p>
						</div>
					</div>
				</div>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://p8.storage.canalblog.com/81/80/119589/120093177.jpg" alt="Card image cap">
					<div class="card-body">
						<h2>Flexible (1982)</h2>
						<h5> Located:The Estate of Jean-Michel Basquiat</h5>
						<p class="card-text">Flexible features two of Basquiat's most famous motifs: the griot and the
							venerable crown. A sole black figure, half cadaver, half living entity, stares "blindly" at
							the viewer, its arms creating a closed circuit, perhaps a reference to spiritualized energy.
							With few distinguishing characteristics, the subject takes on the visage of the Everyman. At
							the same time, this is not just any figure, but one of African ethnicity and proud heritage
							a clear reference to Basquiat's own identity
						</p>
					</div>
				</div>
			</div>
			​
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
	</script>


	<div class="col-sm">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://www.sleek-mag.com/wp-content/uploads/2016/12/studyblue.com_.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h2>Untitled- History of the Black People (1983) </h2>
							<h5> Located:The Estate of Jean-Michel Basquiat</h5>
							<p class="card-text">As though he were reconstructing an epic history, or precedent, for his
								own
								ancestors' arrival on the American continent, this expansive work of the early 1980s
								compresses together the relationship of Egypt to Africa, with references to more local
								centers of African-American music and greater southern culture, such as Memphis,
								Tennessee.
								At the center of the painting, Basquiat depicts a yellow Egyptian boat being guided down
								the
								Nile River by the god Osiris. Rife with visual and textual references to African
								history,
								the painting tackles a heady subject with a deceptively naïve style. Basquiat's
								late-period
								works feature multi-panel paintings, in the tradition of Renaissance religious
								triptychs,
								and canvases with exposed stretcher bars.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://phasisgallery.com/wp-content/uploads/2018/04/basquiat-boomforreal15.jpg" alt="Card image cap">
						<div class="card-body">
							<h2>Arm and Hammer II (1985) </h2>
							<h5> Located: Gallery Bruno Bischofberger AG </h5>
							<p class="card-text">
								Typical of their collaboration, "Arm and Hammer II" demonstrates how Basquiat and Warhol
								would pass a work between them for their mutual intervention, like a game of chance
								happening, free association, and mutual inspiration. Warhol's characteristic employment
								of
								corporate logos and advertising copy as shorthand signs for the materialistic modern
								psyche
								is frequently overlaid by Basquiat's only partially successful attempt to deface them,
								or
								otherwise "humanize" them, freehand, as though he were vainly railing his fist at a
								largely
								invisible and insidious monster

							</p>
						</div>
					</div>
				</div>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://blondeambition4.files.wordpress.com/2014/11/10-punching-bags.jpg?w=440" alt="Card image cap">
					<div class="card-body">
						<h2>Ten Punching Bags/Last Supper (1986-1987)</h2>
						<h5> Located:The Andy Warhol Museum</h5>
						<p class="card-text">Flexible features two of Basquiat's most famous motifs: the griot and the
							venerable crown. A sole black figure, half cadaver, half living entity, stares "blindly" at
							the viewer, its arms creating a closed circuit, perhaps a reference to spiritualized energy.
							With few distinguishing characteristics, the subject takes on the visage of the Everyman. At
							the same time, this is not just any figure, but one of African ethnicity and proud heritage
							a clear reference to Basquiat's own identity
						</p>
					</div>
				</div>
			</div>
			​
</body>
​