<html>


<head>
	<title>Welcome!</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />

	<!-- import the webpage's stylesheet -->
	<link rel="stylesheet" href="style.css">
	​
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	​
	<!-- Compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>
</head>
​

<body>
	<p>The Works of Chuck Close</p>
	​
	​
	<!-- import the webpage's stylesheet -->
	<link rel="stylesheet" href="style.css">
	​
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	​
	<!-- Compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>
	​ <div class="container">
		<div class="row">
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://walker-col.imgix.net/wac_111.tif?fm=jpg&w=1440&h=1050&fit=max&dpr=1.5" class="card-img-top" alt="...">
					<div class="card-body">
                        <h1>Big Self-Portrait 1967-68 </h1>
                        <h5> Located:Walker Art Gallery of Ontario,Toronto </h5>
						<p class="card-text">Close turned to one of the oldest traditions anywhere in art history, the self-portrait. Close had partially set out to refute the critic Clement Greenberg's claim that it was impossible for an "advanced" artist to work in portraiture. Closes's untraditional approach involved conceiving of and creating a unique kind of "mug shot," a black-and-white idiom that exacerbated the subject's blemishes and the original photographic distortion caused by the camera.</p>
					</div>
				</div>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/nunzqLD5FD4R-FBYNaFO1EfazBTHoTQ-51xAlZR7TqUE-I6yqtIkPDTDRugwKaGl6f-mcEp_3NJeQ5W3oEA0XT3f82SF" alt="Card image cap">
					<div class="card-body">
						<h1>Kent 1970 </h1>
						<h5> Located:Walker Art Gallery of Ontario,Toronto </h5>

						<p class="card-text">For Kent, Close made use of preparatory drawings for the first time to
							explore the three-color process, an imitation, or re-employment, of the photographic
							dye-transfer method. By adopting a mechanical procedure and mimicking it physically, or
							by hand crafting what is normally carried out by the camera, Close suggests that
							illusion is ultimately in the eye of the beholder, whose own optical apparatus finally
							"completes" the picture.
						</p>
					</div>
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://www.moma.org/media/W1siZiIsIjE1MTEwNyJdLFsicCIsImNvbnZlcnQiLCItcXVhbGl0eSA5MCAtcmVzaXplIDIwMDB4MjAwMFx1MDAzZSJdXQ.jpg?sha=6052a9b9af86c537" alt="Card image cap">
						<div class="card-body">
							<h1>Self-Portrait 1997</h1>
							<h5> Located:Walker Private Collection </h5>
							<p class="card-text">The insouciant stare of the young man in Big Self-Portrait makes a
								striking counterpart to the stolid, knowing gaze of the older Close as represented in
								this self-portrait of 1997. Indeed, the comparison illustrates the evolution from
								fledgling artist to international icon.
							</p>
						</div>
						<div class="card" style="width: 18rem;">
							<img class="card-img-top" src="https://www.magnoliaeditions.com/wp-content/uploads/2012/03/Close-Andres.jpg" alt="Card image cap">
							<div class="card-body">
								<h1>Andres 2006 </h1>
								<h5> Located: PaceWildenstein Gallery, New York </h5>
								<p class="card-text"> Using computerized photo transfers of glass daguerreotypes (for
									black-and-white versions) or Polaroid snapshots, the tapestry medium is ideally
									suited for Close's interest in large-scale work that nonetheless depends on
									pinpoint-like precision. Here, a portrait of artist-colleague Andres Serrano,
									notorious for his irreverent Piss Christ (1987) photograph.</p>
							</div>
						</div>
					</div>
	​
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card" style="width: 18rem;">
					<img src="https://walker-col.imgix.net/wac_111.tif?fm=jpg&w=1440&h=1050&fit=max&dpr=1.5" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Big Self-Portrait 1967-68</h5>
						<p class="card-text">This is about Chuck Close's art</p>
						<a href="#" class="btn btn-primary">read more</a>
					</div>
				</div>
			</div>​
		</div>
	</div>
</body>
​