<html>


<head>
	<title>Chuck Close</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
​

<body>
     <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Artists
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/basquiat">Jean-Michel Basquiat</a>
						<a class="dropdown-item" href="/close">Chuck Close</a>
						<a class="dropdown-item" href="/kahlo">Frida Kahlo</a>
						<a class="dropdown-item" href="/monet">Claude Monet</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Mediums
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/architecture">Architecture</a>
						<a class="dropdown-item" href="/sculptures">Sculpture</a>
						<a class="dropdown-item" href="/print">Print</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sources">Sources</a>
				</li>
			</ul>
		</div>
	</nav>
    
	<h1>The Works of Chuck Close</h1>

	<div class="col-sm">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://walker-col.imgix.net/wac_111.tif?fm=jpg&w=1440&h=1050&fit=max&dpr=1.5" class="card-img-top" alt="...">
						<div class="card-body">
							<h1>Big Self-Portrait 1967-68 </h1>
							<h5> Located:Walker Art Gallery of Ontario,Toronto </h5>
							<p class="card-text">Close turned to one of the oldest traditions anywhere in
								art history, the self-portrait. Close had partially set out to refute the
								critic Clement Greenberg's claim that it was impossible for an "advanced"
								artist to work in portraiture. Closes's untraditional approach involved
								conceiving of and creating a unique kind of "mug shot," a black-and-white
								idiom that exacerbated the subject's blemishes and the original photographic
								distortion caused by the camera.</p>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/kjf_jQlW_V8xMZFgVsJlsTLv5laDKbgjvlxYJhIf9AKslc6qXuUCTKHEIyUoFBesmjauedzbYzB_ZlW4969NDQ1wYfEE" alt="Card image cap">
						<div class="card-body">
							<h1>Kent 1970 </h1>
							<h5> Located:Walker Art Gallery of Ontario,Toronto </h5>

							<p class="card-text">For Kent, Close made use of preparatory drawings for the
								first time to
								explore the three-color process, an imitation, or re-employment, of the
								photographic
								dye-transfer method. By adopting a mechanical procedure and mimicking it
								physically, or
								by hand crafting what is normally carried out by the camera, Close suggests
								that
								illusion is ultimately in the eye of the beholder, whose own optical
								apparatus finally
								"completes" the picture.
							</p>
						</div>
					</div>
				</div>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://www.moma.org/media/W1siZiIsIjE1MTEwNyJdLFsicCIsImNvbnZlcnQiLCItcXVhbGl0eSA5MCAtcmVzaXplIDIwMDB4MjAwMFx1MDAzZSJdXQ.jpg?sha=6052a9b9af86c537" alt="Card image cap">
					<div class="card-body">
						<h1>Self-Portrait 1997</h1>
						<h5> Located:Walker Private Collection </h5>
						<p class="card-text">The insouciant stare of the young man in Big
							Self-Portrait makes a
							striking counterpart to the stolid, knowing gaze of the older Close
							as
							represented in
							this self-portrait of 1997. Indeed, the comparison illustrates the
							evolution from
							fledgling artist to international icon.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
			​<!-- Compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>
</body>
​