<html>
​

<head>
	<title>Frida Kahlo</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
	​
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
​

<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Artists
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/basquiat">Jean-Michel Basquiat</a>
						<a class="dropdown-item" href="/close">Chuck Close</a>
						<a class="dropdown-item" href="/kahlo">Frida Kahlo</a>
						<a class="dropdown-item" href="/monet">Claude Monet</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Mediums
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/architecture">Architecture</a>
						<a class="dropdown-item" href="/sculptures">Sculpture</a>
						<a class="dropdown-item" href="/print">Print</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sources">Sources</a>
				</li>
			</ul>
		</div>
	</nav>

	<h1>The Works of Frida Kahlo</h1>

	<div class="col-sm">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://www.fridakahlo.org/images/paintings/henry-ford-hospital.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h1>Henry Ford Hospital 1932 </h1>
							<h5> Located: Dolores Olmedo Collection, Mexico City, City </h5>
							<p class="card-text">Henry Ford Hospital, is a good example where the artist uses the
								ex-voto format but subverts it by placing herself centre stage, rather than recording
								the miraculous deeds of saints. Kahlo instead paints her own story, as though she
								becomes saintly and the work is made not as thanks to the lord but in defiance,
								questioning why he brings her pain. The artist demonstrates her need to be attached to
								all that surrounds her: to the mundane and metaphorical as much as the physical and
								actual. Perhaps it is through this reaching out of connectivity that the artist tries to
								be 'maternal', even though she is not able to have her own child.p>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://i2.wp.com/artlistr.com/wp-content/uploads/2018/02/The-Broken-Column-1944-Frida-Kahlo.jpg?fit=1000%2C1364&ssl=1" alt="Card image cap">
						<div class="card-body">
							<h1>The Broken Column 1944 </h1>
							<h5> Located:Dolores Olmedo Collection, Mexico City,Mexico </h5>
							<p class="card-text">The Broken Column is a particularly pertinent example of the
								combination of Kahlo's emotional and physical pain. The artist's biographer, Hayden
								Herrera, writes of this painting, 'A gap resembling an earthquake fissure splits her in
								two. The opened body suggests surgery and Frida's feeling that without the steel corset
								she would literally fall apart'. A broken ionic column replaces the artist's crumbling
								spine and sharp metal nails pierce her body. The hard coldness of this inserted column
								recalls the steel rod that pierced the artist's vagina during her streetcar accident.
								More generally, the architectural feature now in ruins, has associations of the
								simultaneous power and fragility of the female body.
							</p>
						</div>
					</div>
				</div>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/f/f9/The_Two_Fridas.jpg" alt="Card image cap">
					<div class="card-body">
						<h1>The Two Fridas 1939</h1>
						<h5> Located:Museum of Modern Art, Mexico City,Mexico </h5>
						<p class="card-text">This double self-portrait is one of Kahlo's most recognized compositions,
							and is symbolic of the artist's emotional pain experienced during her divorce from Rivera.
							On the left, the artist is shown in modern European attire, wearing the costume from her
							marriage to Rivera. Throughout their marriage, given Rivera's strong nationalism, Kahlo
							became increasingly interested in indigenism and began to explore traditional Mexican
							costume, which she wears in the portrait on the right. It is the Mexican Kahlo that holds a
							locket with an image of Rivera. The stormy sky in the background, and the artist's bleeding
							heart - a fundamental symbol of Catholicism and also symbolic of Aztec ritual sacrifice -
							accentuate Kahlo's personal tribulation and physical pain.
						</p>
					</div>
				</div>
			</div>
			​
		</div>
	</div>

	<!-- Compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>

</body>
​