<html>

<head>
	<title>Claude Monet</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
	​
	<!-- import the webpage's stylesheet -->
	<link rel="stylesheet" href="style.css">
	​
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Artists
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/basquiat">Jean-Michel Basquiat</a>
						<a class="dropdown-item" href="/close">Chuck Close</a>
						<a class="dropdown-item" href="/kahlo">Frida Kahlo</a>
						<a class="dropdown-item" href="/monet">Claude Monet</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Mediums
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/architecture">Architecture</a>
						<a class="dropdown-item" href="/sculptures">Sculpture</a>
						<a class="dropdown-item" href="/print">Print</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/sources">Sources</a>
				</li>
			</ul>
		</div>
	</nav>

	<h1>The Works of Claude Monet</h1>


	<div class="col-sm">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/9/95/Claude_Monet_024.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h1>Big Women in the Garden 1866-67 </h1>
							<h5> Musee d’Orsay, Paris </h5>
							<p class="card-text">Women in the Garden was painted at Ville d'Avray using his future wife
								Camille as the only model. The goal of this large-scale work (100" by 81"), while
								meticulously composed, was to render the effects of true outdoor light, rather than
								regard conventions of modeling or drapery.</p>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Claude_Monet_-_Woman_with_a_Parasol_-_Madame_Monet_and_Her_Son_-_Google_Art_Project.jpg/300px-Claude_Monet_-_Woman_with_a_Parasol_-_Madame_Monet_and_Her_Son_-_Google_Art_Project.jpg" alt="Card image cap">
						<div class="card-body">
							<h1>Woman with a Parasol- Madame Monet and her Son </h1>
							<h5> Located:The National Gallery of Art, Washington D.C </h5>
							<p class="card-text">One of Monet's most popular figure paintings, Lady with a Parasol
								showcases the woman's accessory. The parasol itself makes many appearances in his work,
								primarily because when painting from real life outdoors, most women would use one to
								protect their skin and eyes. But the object also creates a contrast of light and shadows
								on the figure's face and clothing, indicating which direction the actual light is coming
								from. Quite uniquely, Monet paints into the light letting the model's features fade into
								the shadow. Most artists would avoid such a positioning of their subject as it is
								difficult to reproduce any detail - and even to look at your subject. But Monet is
								interested in light itself, and captures it in the scene in an unmatched way
							</p>
						</div>
					</div>
				</div>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Claude_Monet_-_Rouen_Cathedral%2C_Facade_%28Sunset%29.JPG/384px-Claude_Monet_-_Rouen_Cathedral%2C_Facade_%28Sunset%29.JPG" alt="Card image cap">
					<div class="card-body">
						<h1>Rouen Cathedral: The Facade at Sunset</h1>
						<h5> Located:Museums of Fine Arts, Boston </h5>
						<p class="card-text"> Monet's Rouen Cathedral: The Facade at Sunset series is one of his most
							renowned. He painted the cathedral at different times of day to explore the effects
							of different light during winter. The burnt orange and blue appearance of the cathedral
							dominates the canvas, with only scattered views of sky at the top. Layered over the top of
							the Gothic structure, the brushstrokes play with the light and atmosphere on the stones, and
							the details on their carved surfaces.

						</p>
					</div>
				</div>
			</div>
			​
		</div>
	</div>

	<!-- Compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>
</body>
​