<html>

<head>
	<title>Welcome!</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
</head>

<body>
	<div class="navbar">
		<a href="/index">Home</a>
		<div class="dropdown">
			<button class="dropbtn">Artists
      <i class="fa fa-caret-down"></i>
    </button>
			<div class="dropdown-content">
				<a href="/basquiat">Jean-Michel Basquiat</a>
				<a href="/monet">Claude Monet</a>
				<a href="/close">Chuck Close</a>
				<a href="/kahlo">Frida Kahlo</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Other Mediums
      <i class="fa fa-caret-down"></i>
    </button>
			<div class="dropdown-content">
				<a href="/architecture">Architecture</a>
				<a href="/sculptures">Sculpture</a>
				<a href="/print">Print</a>
			</div>
		</div>
    <a href="/sources">Sources</a>
	</div>
	<div class="hero-image">
		<div class="hero-text">
            <div class="container">
			<h1>Digital Art Gallery</h1>
		</div>
		</div>
</body>

</html>