<html>

<head>
	<title>Welcome!</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
</head>

<body>
	<div class="navbar">
		<a href="/index">Home</a>
		<div class="dropdown">
			<button class="dropbtn">Artists
      <i class="fa fa-caret-down"></i>
    </button>
			<div class="dropdown-content">
				<a href="/basquiat">Jean-Michel Basquiat</a>
				<a href="/monet">Claude Monet</a>
				<a href="/close">Chuck Close</a>
				<a href="/kahlo">Frida Kahlo</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Mediums
      <i class="fa fa-caret-down"></i>
    </button>
			<div class="dropdown-content">
				<a href="/paintings">Paintings</a>
				<a href="/sculptures">Sculptures</a>
			</div>
		</div>
	</div>
</body>

</html>